.header {
    position: sticky;
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    transition: transform 0.3s ease, top 0.3s ease;
    /* Ensure the header stays on top of other content */
}

.header .fixed {
    top: 0;
    position: fixed;
    z-index: 100;
}

.inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(9px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    [data-mantine-color-scheme] {
        color: var(--mantine-color-white);
    }
}

.visible {
    transform: translateY(0);
}

.hidden {
    transform: translateY(-100%);
    top: -56px;
    /* Match the height of the header to move it completely out of view */
}