.heroContainer {
    justify-content: center;
    height: 300px;
    padding-right: 20px;
    margin-bottom: 100px;
}

.mainText h2{
    display: flex;
    justify-content: center;
    margin-left: 10px;     
    color: rgba(235, 222, 222, 0.767);
    font-weight: 200;
    font-size: 35px;
    text-shadow: 2px 2px 4px black;
}

.mainTextContainer1{
    display: flex;
    margin-left: 300px;     
    font-weight: 200;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    font-size: 50px;
    top: -50px;
}

.mainTextContainer2{
    padding: 100px;
    top: 120px;
    left: 10px;
}

.mainTextContainer3{
    padding: 0px;
    top: 150px;
    left: 10px;
}

.navLinks{
    padding: 10px;
    top: 300px;
    left: 20px;
}

.navLinks a{
    display: flex;
    justify-content: left;   
    color: rgba(235, 222, 222, 0.767);
    font-weight: 200;
    font-size: 35px;
    text-shadow: 2px 2px 4px black;
}

.navLinks a:hover{
    color: rgba(235, 222, 222, 0.479);
}

a{
    color: rgba(235, 222, 222, 0.767);
}

a:hover{
    color: rgba(235, 222, 222, 0.479);
}