.aboutMe-container{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    
}

.codePicAboutMe{
    float: left;
}

.gamingPicAboutMe{
    padding-top: 250px;
    float:right;
}

.MainText h2{
    display: flex;
    justify-content: center;
    margin-left: 10px;     
    margin-top: 10px;
    color: rgba(235, 222, 222, 0.767);
    font-weight: 350;
    font-size: 35px;
    text-shadow: 2px 2px 4px black;
}

.TitleText{
    margin-top: 300px;
}


.AboutMe{
    display:flex;
    justify-content: center;
    margin-left: 10px;     
    margin-top: 10px;
    color: rgba(235, 222, 222, 0.767);
    font-size: 60px;
    text-shadow: 4px 4px 6px black;
}

.MainText1{
    position: absolute;
    top: 5px;
    right: 10px;
}
.MainText2{
    position: absolute;
    top: 35px;
    right: 10px;
}

.MainText3{
    padding-top: 10px;
    position: absolute;
    bottom: 150px;
    left: 10px;
}

.MainText4{
    padding-top: 10px;
    position: absolute;
    bottom: 115px;
    left: 10px;
}

.MainText5{
    padding-top: 10px;
    position: absolute;
    bottom: 50px;
    left: 10px;
}