.aboutMe-container{
    width: 1000px;
    height: 500px;
    position: relative;
    position: relative;
    margin: 20px auto;
    
}

.codePicAboutMe{
    position:absolute;
    float: left;
    border-radius: 80%;
}

.gamingPicAboutMe{
    position:absolute;
    bottom: 0;
    right: 0;
}

.MainText h2{
    display: flex;
    justify-content: center;
    margin-left: 10px;     
    margin-top: 10px;
    color: rgba(235, 222, 222, 0.767);
    font-family: Nunito;
    font-weight: 200;
    font-size: 35px;
    text-shadow: 2px 2px 4px black;
}

.TitleText{
    margin-top: 300px;
}

.TitleText h1{
    display: flex;
    justify-content: center;
    margin-left: 10px;     
    margin-top: 10px;
    color: rgba(235, 222, 222, 0.767);
    font-family: Nunito;
    font-weight: 200;
    font-size: 60px;
    text-shadow: 4px 4px 6px black;
}

.AboutMe{
    display:flex;
    justify-content: center;
}

.MainText1{
    position: absolute;
    top: 5px;
    right: 10px;
}
.MainText2{
    position: absolute;
    top: 35px;
    right: 10px;
}

.MainText3{
    position: absolute;
    bottom: 160px;
    left: 10px;
}

.MainText4{
    position: absolute;
    bottom: 130px;
    left: 10px;
}

.MainText5{
    position: absolute;
    bottom: 80px;
    left: 10px;
}